.list-pertemuan {
    text-align: center;
    list-style-position: inside;
    font-size: 40px;
}

/* index & direct2*/
nav {
    text-align: left;
    background-color: rgba(0, 0, 0, 1.0);
    color:#FFFFFF;
    font-size: 200%;
    margin-left:2%;
    margin-right: 2%;
}

.container{
    margin-left:2%;
    margin-right: 2%;
}

.navbar1:hover{
    color: rgba(128, 0, 0, 1);
}

.navbar-link{
    float: right;
    margin-right: 1%;
}

.navbar-link:hover{
    color: rgba(128, 0, 0, 1);
}

p {
    text-align: center;
    color:#FFFFFF;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

footer {
    background-color: black;
    color: white;
    margin-top: 540px;
    text-align: center;
}

a:link
{
    color:#FFFFFF;
    background-color: black;
}

a:visited
{
    color:#FFFFFF;
}

a:hover 
{
    color:#FFFFFF;
}

/* list */
/*ol, li {
    text-align: center;
}*/

/* img */
img {
    border: 4px black solid;
}

.gambar1 {
    margin-top: 2%;
    border-radius: 10%;
    width: 15%;
    position: absolute;
}

.gambar2 {
    margin-top: 2%;
    border-radius: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    position: relative;
}

.img-custom {
    border: 4px black solid;
    margin-top: 2%;
    border-radius: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    position: relative;
}

/*Table*/
table {
    width: 80%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    background-color: aqua;
}

/* Form */
form {
    text-align: center;
    margin-top: 20%;
}

.text-form-body {
    color: black;
    font-size: 200%;
}

.text-form {
    color: black;
}